# Github
.github/

# Editor/IDE Configurations
.vscode/
.idea/

# Source Files
src/

# Compilation Artifacts
build/tsconfig.tsbuildinfo

# Documentation
docs/

# Installed Modules
node_modules

# Tests
tests/

# Configuration Files
.eslintignore
.prettierrc.yaml
.eslintrc.*
.gitignore
*.config.js
tsconfig.json
typedoc.json

# Yarn 
yarn.lock
